.embed {
  min-height: 100vh !important;

  &__hero__img {
    img {
      min-width: 280px;
      border: 1px solid var(--col-nav-border);
    }
  }

  .tagnile-automation {
    background: -webkit-linear-gradient(
      45deg,
      (#cc5ce7 21.95%),
      (#5855d7 74.05%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      &::before {
      content: url(../../public/img/automation-logo.svg);
      display: inline-block;
      position: absolute;
      z-index: -1;
      right: -44px;
      top: 2px;
    }
  }
  .embed__hero__cont {
    .btn-light {
      font-weight: 500;
    }
  }
<<<<<<< HEAD
  .chat {
    position: fixed;
    bottom: 100px;
    right: 40px;
    background: rgb(26, 98, 34);;
=======

  &__hero__cont {
    h1 {
      color: white; // Set the color to white
    }
>>>>>>> b7397e9886883b7d29ebe00abe8f77240e930535
  }
}
