.embed-hero {
  height: 86vh;
  gap: 30px;
  div {
    button {
      font-size: 20px;
    }
  }
}
.feature-cont {
  height: 90vh;

  .feature-sec {
    ul {
      li {
        color: white !important;
      }
    }
  }
  .feature-main-img {
    position: relative;
    right: 0;
    top: inherit;
  }
}
.feature{
  background-color: rgba(255, 255, 255, 0.03);;
  &__img{
    img{
      height:270px ;
      width: auto;
    }
  }
}
.embed-features{
  margin: 90px 0px;
}
