.navbar-cont{
    top: 10px !important;
    position: fixed !important;
    
    z-index: 9;
    
    
    .nav{
        &__logo{
            height: 36px;
        }
        border: 1px solid var(--col-nav-border);
        border-radius: 4px;
        padding: 12px;
        background-color: var(--col-nav-bg);
        backdrop-filter:  blur(30px);
        &__menu{
            ul{
                li{
                    a{
                        color: var(--col-white)!important;
                        &:hover{
                        color: var(--col-white)!important;
                        text-decoration: underline!important;

                        }
                    }

                }
            }
        }
       
    }
}