h1,
h2,
h3,
h4,
h5,
span,
p {
  color: white !important;
}
h1,
h2 {
    font-family: 'Rajdhani', sans-serif!important;
}
// fontsize

h1 {
  font-size: 56px !important;
}
h3 {
  font-size: 36px !important;
  font-weight: 400 !important;
}
