.btn {
  padding: 4px 12px !important;
  height: fit-content !important;
  border-radius: 2px !important;
}
// .btn-primary {
//   background-color: var(--col-white) !important;
//   border: none !important;
//   color: black !important;
//   &:hover {
//     background-color: rgba(235, 235, 235, 0.6) !important;
//     color: var(--col-white) !important;
//   }
// }
