:root {
    --col-dark: #222222;
    --col-white:#ffff;
    --col-h-white:#e9e9e9;
    --bs-heading-color:var(--col-white)!important;
    --col-dark-lite:#a0a0a0!important;
    // --heading: 48px;
    // --sub-heading: 32px;
    // --small-heading: 20px;
  
    // --c-fs-1: 32px;
    // --c-fs-2: 28px;
    // --c-fs-3: 24px;
    // --c-fs-4: 20px;
    // --c-fs-5: 16px;
    // --c-fs-6: 14px;
  
    // --c-fw-400: 400;
    // --c-fw-600: 600;
  
    // --col-primary: #1b1f6d;
    // --col-grey: #343a40;
    // --col-dark-light: #707070;
    // --col-light: #f8f9fa;
    // --col-blue: #4B55C2;
    // --col-success: #28a745;
    // --col-danger: #dc3545;
    // --col-grey-deep: #6c757d;
    // --col-light-gray: #e7e8ea 


    //utilities
    --u-base:2px;


    //font
    --font-base:16px;


    --head-base:var(--font-base);
    
    --body-base:var(--font-base);



    //height
    --nav-height :30px


}
