
:root{
    // font size
    --fontsize-h1:64px;
    --fontsize-h2:24px;
    --fontsize-h3:26px;
    --fontsize-h4:16px;
    --fontsize-h5:10px;



    --fontsize-base:14px;
    --fontsize-base1:14px;
    --fontsize-base2:14px;
    --fontsize-base3:14px;

    --c-fs-1: 32px;
    --c-fs-2: 28px;
    --c-fs-3: 24px;
    --c-fs-4: 20px;
    --c-fs-5: 16px;
    --c-fs-6: 14px;

    --c-fw-400: 400;
    --c-fw-600: 600;


    // color
    --col-primary : #0B4036;
    

    --col-black : #131313;


    --col-white: #ffffff;


    --col-link: #0d6efd;


    //component color

    --col-nav-bg:rgba(255, 245, 245, 0);
    --col-nav-border: rgb(53, 53, 53);

}