:root{
    // font size
    --fontsize-h1:64px;
    --fontsize-h2:24px;
    --fontsize-h3:26px;
    --fontsize-h4:16px;
    --fontsize-h5:10px;


    --fontsize-base:14px;
    --fontsize-base1:14px;
    --fontsize-base2:14px;
    --fontsize-base3:14px;



    // color
    --col-primary : #0B4036;
    

    --col-black : #131313;


    --col-white: #ffffff;


    --col-link: #0d6efd;


    //component color

    --col-nav-bg:rgba(0, 0, 0, 0.185);
    --col-nav-border: rgb(53, 53, 53);

}