@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap");
:root {
  --fontsize-h1:64px;
  --fontsize-h2:24px;
  --fontsize-h3:26px;
  --fontsize-h4:16px;
  --fontsize-h5:10px;
  --fontsize-base:14px;
  --fontsize-base1:14px;
  --fontsize-base2:14px;
  --fontsize-base3:14px;
  --c-fs-1: 32px;
  --c-fs-2: 28px;
  --c-fs-3: 24px;
  --c-fs-4: 20px;
  --c-fs-5: 16px;
  --c-fs-6: 14px;
  --c-fw-400: 400;
  --c-fw-600: 600;
  --col-primary: #0B4036;
  --col-black: #131313;
  --col-white: #ffffff;
  --col-link: #0d6efd;
  --col-nav-bg:rgba(0, 0, 0, 0.449);
  --col-nav-border: rgb(53, 53, 53);
}

.embed {
  min-height: 100vh !important;
}
.embed__hero__img img {
  min-width: 280px;
  border: 1px solid var(--col-nav-border);
}
.embed .tagnile-automation {
  background: -webkit-linear-gradient(45deg, #cc5ce7 21.95%, #5855d7 74.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.embed .tagnile-automation::before {
  content: url(../../public/img/automation-logo.svg);
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: -44px;
  top: 2px;
}
.embed .embed__hero__cont .btn-light {
  font-weight: 500;
}
.embed .chat {
  position: fixed;
  bottom: 100px;
  right: 40px;
  background: rgb(26, 98, 34);
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  color: white !important;
}

h1, h2, h3, h4, h5, h6, span, p {
  font-family: "Open Sans", sans-serif !important;
}

h1 {
  font-size: var(--fontsize-h1) !important;
}

h2 {
  font-size: var(--fontsize-h2) !important;
}

h3 {
  font-size: var(--fontsize-h3) !important;
}

h4 {
  font-size: var(--fontsize-h4) !important;
}

h5 {
  font-size: var(--fontsize-h5) !important;
}

.base {
  font-size: var(--fontsize-base) !important;
}

.base1 {
  font-size: var(--fontsize-base1) !important;
}

.base2 {
  font-size: var(--fontsize-base2) !important;
}

.base3 {
  font-size: var(--fontsize-base3) !important;
}

.text-white {
  color: var(--col-white) !important;
}

.text-link {
  color: var(--col-link) !important;
}
.text-link:hover {
  text-decoration: underline !important;
}

.login__main__loginbtn img {
  width: 200px;
}
.login__details {
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.07);
}
.login__details img {
  width: 200px;
}
.login__details .feature-list li {
  color: var(--col-white);
  margin-top: 12px;
  font-weight: 200 !important;
}

ul {
  list-style: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

a {
  text-decoration: none !important;
}

.br-4 {
  border-radius: 4px !important;
}

.navbar-cont {
  top: 10px !important;
  position: fixed !important;
  z-index: 9;
}
.navbar-cont .nav {
  border: 1px solid var(--col-nav-border);
  border-radius: 4px;
  padding: 12px;
  background-color: var(--col-nav-bg);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.navbar-cont .nav__logo {
  height: 36px;
}
.navbar-cont .nav__menu ul li a {
  color: var(--col-white) !important;
}
.navbar-cont .nav__menu ul li a:hover {
  color: var(--col-white) !important;
  text-decoration: underline !important;
}
.navbar-cont .nav__buttons .btn-dark {
  background-color: transparent;
  color: white;
  border: none;
}
.navbar-cont .nav__buttons .btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.137);
}

.blog {
  background-repeat: no-repeat;
  background: url(../../public/img/blog-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.blog .blog-home-container {
  padding: 146px 24px 46px 24px;
}
.blog .blog-home-container .post-list {
  padding-bottom: 46px;
  display: grid;
  height: auto !important;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-items: stretch;
}
.blog .blog-home-container .post-list .blog-card {
  display: block;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  min-height: 300px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  overflow: hidden;
  position: relative;
  color: var(--col-white);
  background-size: cover;
  background-position: center center;
}
.blog .blog-home-container .post-list .blog-card--large {
  grid-row-end: span 3;
  min-height: 350px !important;
}
.blog .blog-home-container .post-list .blog-card--large .blog-card__content .blog-card-body .content {
  -webkit-line-clamp: 3;
}
.blog .blog-home-container .post-list .blog-card--small {
  grid-row-end: span 2;
}
.blog .blog-home-container .post-list .blog-card--small .blog-card__content .blog-card-body .content {
  -webkit-line-clamp: 2;
}
.blog .blog-home-container .post-list .blog-card .blog-bg-Img {
  height: inherit;
}
.blog .blog-home-container .post-list .blog-card.bg-light {
  color: #333;
}
.blog .blog-home-container .post-list .blog-card.bg-light .blog-card__content {
  background: var(--col-white);
}
.blog .blog-home-container .post-list .blog-card.bg-light .blog-card__content::before {
  display: none;
}
.blog .blog-home-container .post-list .blog-card.bg-light .blog-card-footer span {
  color: #818181;
}
.blog .blog-home-container .post-list .blog-card.bg-dark {
  color: var(--col-white) !important;
}
.blog .blog-home-container .post-list .blog-card.bg-dark .blog-card-footer span {
  color: var(--col-white);
}
.blog .blog-home-container .post-list .blog-card__content {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog .blog-home-container .post-list .blog-card__content::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.blog .blog-home-container .post-list .blog-card__content .blog-card-tags {
  margin-top: auto;
  margin-bottom: 10px;
}
.blog .blog-home-container .post-list .blog-card__content .blog-card-tags span {
  margin-right: 8px;
  margin-bottom: 4px;
  display: inline-block;
  height: auto;
  line-height: 10px;
  padding: 7px 11px 6px;
  vertical-align: top;
  font-size: 10px;
  border-radius: 20px;
  color: #000 !important;
  background-color: #dddddd;
  text-transform: uppercase;
}
.blog .blog-home-container .post-list .blog-card__content .blog-card-body .title {
  margin-top: 6px;
  font-size: var(--c-fs-4);
  font-weight: var(--c-fw-600);
}
.blog .blog-home-container .post-list .blog-card__content .blog-card-body .content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 4;
}
.blog .blog-home-container .post-list .blog-card__content .blog-card-footer {
  margin-top: auto;
}
.blog .blog-home-container ul.pagination-padding {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 0 24px !important;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 12px 16px !important;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}
.blog .blog-home-container ul.pagination-padding li {
  display: inline-block;
  margin-right: 1em;
  color: #9b9b9b;
  font-size: 1.25rem;
}
.blog .blog-home-container ul.pagination-padding li a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.blog .blog-home-container ul.pagination-padding li a.active {
  color: var(--col-white);
  background-color: #000;
  padding: 0px 7px;
  border-radius: 3px;
}

.blog-container {
  margin: 80px 0;
}
.blog-container h1 {
  font-weight: 700;
  margin-bottom: 16px !important;
}
.blog-container h2,
.blog-container h3,
.blog-container h4,
.blog-container h5,
.blog-container h6 {
  margin-top: 40px !important;
  margin-bottom: 16px !important;
}
.blog-container p {
  margin-bottom: 1rem !important;
}
.blog-container .blog-header {
  margin-bottom: 40px;
}
.blog-container__back-btn {
  background-color: var(--col-primary) !important;
  color: var(--col-white) !important;
}
.blog-container .blog-page-tags li a {
  line-height: 10px;
  margin-bottom: 4px;
  padding: 7px 11px 6px;
  vertical-align: top;
  font-size: 10px;
  border-radius: 20px;
  color: #000 !important;
  background-color: #dddddd;
  text-transform: uppercase;
}
.blog-container .body ul {
  list-style: initial !important;
}
.blog-container .body p {
  font-size: var(--c-fs-5);
}
.blog-container .body h2 {
  font-size: var(--c-fs-3);
}
.blog-container .body img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: linear-gradient(-70deg, #000000, #062004);
  background-size: 400% 400%;
  animation: gradientbg 20s ease infinite;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: var(--col-black);
}
body::-webkit-scrollbar-thumb {
  background: var(--col-white);
  border-radius: 3px;
}

@keyframes gradientbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-padding {
  padding-top: 100px;
}

body button.chat-button {
  border: 6px solid red !important;
}
body button.chat-button::after {
  content: "Hello Via Socket....";
  position: absolute;
  top: 50px;
  display: inline-block;
}/*# sourceMappingURL=global.css.map */