@import "import";

body {
	font-family: "Open Sans", sans-serif !important;
	background: linear-gradient(-70deg, #000000, #062004);
	background-size: 400% 400%;
	animation: gradientbg 20s ease infinite;
	height: 100vh;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		background: var(--col-black);
	}

	&::-webkit-scrollbar-thumb {
		background: var( --col-white);
		border-radius: 3px;
	}
}

@keyframes gradientbg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-padding {
	padding-top: 100px;
}
body.custom-background-color {
	// background: #7BA8CE;
	// background: #3D678A;
	// background: #33566E;
	background: lightgrey;
	animation: none; /* Remove the gradient animation */
	/* Additional styles */
  }