@import "import";

body {
  font-family: "Open Sans", sans-serif !important;
  background: linear-gradient(-70deg, #000000, #062004);
	background-size: 400% 400%;
	animation: gradientbg 20s ease infinite;
	height: 100vh;
}
@keyframes gradientbg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-padding{
  padding-top: 100px;
}

